<h3>Velocidade de ação</h3>
<form [formGroup]="ActionSpeedForm">
    <mat-form-field class="example-chip-list" formArrayName="actionSpeeds">
      <mat-label>Alcance</mat-label>
      <mat-chip-grid #chipGrid aria-label="Alcance selection">
          <mat-chip-row *ngFor="let actionSpeed of actionSpeed; let empIndex=index" (removed)="remove(actionSpeed)" class="caixota" >
            <div [formGroupName]="empIndex">
            {{actionSpeed}}
            <input matInput type="number" class="number" min="1" formControlName="actionSpeedScale"  (click)="eventemit()">
            <button matChipRemove [attr.aria-label]="'remove ' + actionSpeed">
              <mat-icon>cancel</mat-icon>
            </button>
          </div>
          </mat-chip-row>
      </mat-chip-grid>
      <input placeholder="Novo Alcance..." #actionSpeedInput 
        [matChipInputFor]="chipGrid" [matAutocomplete]="auto"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        />
      </mat-form-field>
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
          <mat-option  *ngFor="let actionSpeed of allActionSpeed" [value]="actionSpeed">{{actionSpeed}}</mat-option>
      </mat-autocomplete>
  </form>
