<h3>Alcance</h3>
<form [formGroup]="RangeForm">
    <mat-form-field class="example-chip-list" formArrayName="ranges">
      <mat-label>Alcance</mat-label>
      <mat-chip-grid #chipGrid aria-label="Alcance selection">
          <mat-chip-row *ngFor="let range of range; let empIndex=index" (removed)="remove(range)" class="caixota" >
            <div [formGroupName]="empIndex">
            {{range}}
            <input matInput type="number" class="number" min="1" formControlName="rangeScale"  (click)="eventemit()">
            <button matChipRemove [attr.aria-label]="'remove ' + range">
              <mat-icon>cancel</mat-icon>
            </button>
          </div>
          </mat-chip-row>
      </mat-chip-grid>
      <input placeholder="Novo Alcance..." #rangeInput 
        [matChipInputFor]="chipGrid" [matAutocomplete]="auto"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        />
      </mat-form-field>
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
          <mat-option  *ngFor="let range of allRange" [value]="range">{{range}}</mat-option>
      </mat-autocomplete>
  </form>
