/* styles.scss (or your style file) */
.container {
    display: flex;
  }
  
  .side-by-side {
    display: flex;
  }
  
  .section {
    margin-right: 30px; /* Adjust margin as needed to create space between sections */
  }