<!-- character-sheet.component.html -->
<div>
    <h2>Character Sheet</h2>
  
    <div>
      <h3>Character Information</h3>
      <p><strong>Name:</strong> {{ livingCharacher.characterInfo.name }}</p>
      <p><strong>Species:</strong> {{ getSpeciesName(livingCharacher.characterInfo.specie) }}</p>
      <p><strong>Origins:</strong> {{ getCharacterOriginName(livingCharacher.characterInfo.origins) }}</p>
      <p><strong>Rank:</strong> {{ getRankName(livingCharacher.characterInfo.rank) }}</p>
      <!-- Add other Character properties as needed -->
    </div>
  
    <h3>Character Stats</h3>
    <p><strong>Combatant:</strong> {{ getCombatant() }} <button (click)="rollCombatant()">Roll</button></p>
    <p><strong>Magic:</strong> {{ getMagic()}} <button (click)="rollMagic()">Roll</button></p>
    <p><strong>Sagacious:</strong> {{ getSagacious() }} <button (click)="rollSagacious()">Roll</button></p>
    <p><strong>Create:</strong> {{ getCreate() }} <button (click)="rollCreate()">Roll</button></p>
    <p><strong>Protector:</strong> {{ getProtector()}} <button (click)="rollProtector()">Roll</button></p>
    <p><strong>Eloquence:</strong> {{ getEloquence()}} <button (click)="rollEloqunce()">Roll</button></p>

    <!-- Display Character Talents -->
    <h3>Talents</h3>
    <ul>
      <li *ngFor="let talent of getTalents()">{{ getTalentName(talent) }}</li>
    </ul>

    <div>
      <h3>Living Character Information</h3>
        <p>
            <strong>Life Dices:</strong> {{ livingCharacher.lifeDices }}
            |
            <strong>Mana Dices:</strong> {{ livingCharacher.manaDices }}
        </p>

      <p><strong>Talent Points:</strong> {{ livingCharacher.talentPoints }}</p>
      
        <p>
            <strong>Current Life:</strong> {{ livingCharacher.currentLife }} 
            | 
            <strong>Max Life:</strong> {{ livingCharacher.maxLife }}
        </p>

        <p>
            <strong>Current Mana:</strong> {{ livingCharacher.currentMana }}
        |
            <strong>Max Mana:</strong> {{ livingCharacher.maxMana }}
        </p>
      
      
      <p><strong>Knowledge:</strong> {{ livingCharacher.knowledge }}</p>
      <!-- Add other LivingCharacter properties as needed -->
      <h2>Dice Roll Information</h2>

        <div>
          <p><strong>Number of Faces:</strong> {{ diceInfo.numberOfFaces }}</p>
          <p><strong>Roll Type:</strong> {{ diceInfo.rollType }}</p>
          <p><strong>Modifier:</strong> {{ diceInfo.modifier }}</p>

          <h3>Standard Roll</h3>
          <p><strong>Array:</strong> {{ diceInfo.standardRollArray.join(', ') }}</p>
          <p><strong>Total:</strong> {{ diceInfo.standardRollTotal }}</p>

          <h3>Complementary Roll</h3>
          <p><strong>Array:</strong> {{ diceInfo.complementaryRollArray.join(', ') }}</p>
          <p><strong>Total:</strong> {{ diceInfo.complementaryRollTotal }}</p>

          <p><strong>Result:</strong> {{ diceInfo.result }}</p>
        </div>
    </div>
  </div>
  
  