<!-- character-sheet.component.html -->
<div>
    <h2>Character Sheet</h2>
  
    <div>
      <h3>Character Information</h3>
      <p><strong>Name:</strong> {{ livingCharacher.characterInfo.name }}</p>
      <p><strong>Species:</strong> {{ livingCharacher.characterInfo.specie }}</p>
      <p><strong>Origins:</strong> {{ livingCharacher.characterInfo.origins }}</p>
      <!-- Add other Character properties as needed -->
    </div>
  
    <div>
      <h3>Living Character Information</h3>
      <p><strong>Life Dices:</strong> {{ livingCharacher.lifeDices }}</p>
      <p><strong>Mana Dices:</strong> {{ livingCharacher.manaDices }}</p>
      <p><strong>Talent Points:</strong> {{ livingCharacher.talentPoints }}</p>
      <p><strong>Max Life:</strong> {{ livingCharacher.maxLife }}</p>
      <p><strong>Current Life:</strong> {{ livingCharacher.currentLife }}</p>
      <p><strong>Max Mana:</strong> {{ livingCharacher.maxMana }}</p>
      <p><strong>Current Mana:</strong> {{ livingCharacher.currentMana }}</p>
      <p><strong>Knowledge:</strong> {{ livingCharacher.knowledge }}</p>
      <!-- Add other LivingCharacter properties as needed -->
    </div>
  </div>
  
  