<div>
    <form [formGroup]="characterForm" (ngSubmit)="onSubmit()" >
        <div class="row">
            <label for="name">Nome</label>
            <input type="text"
            id="name"
            formControlName="name">
        </div>

        <div class="row">
            <label for="rank">Rank</label>
            <select name="rank" id="rank" formArrayName="rank">
                <option *ngFor="let rank of leveledRanks" [value]="rank">{{rank}}</option>
            </select>
        </div>

        <div class="row">
            <label for="rank">Especie</label>
            <select name="species" id="species" formArrayName="species">
                <option *ngFor="let specie of species" [value]="specie">{{specie}}</option>
            </select>
        </div>
    </form>
</div>