<div>
    <form [formGroup]="characterForm" (ngSubmit)="onSubmit()" >
        <app-personagem-basis #characterBasis></app-personagem-basis>

        <div class="row">
            <label for="PO">PO</label>
            <input type="text"
            id="PO"
            formControlName="PO">

            <label for="Crystal">Crystal</label>
            <input type="text"
            id="Crystal"
            formControlName="Crystal">
        </div>
        
        <div>
            <label for="characterDescription">Description</label>
            <textarea formControlName="characterDescription"></textarea>
        </div>

        <button type="submit">Save</button>
    </form>
</div>