<div class="row">
    <label for="name">Nome</label>
    <input type="text" [(ngModel)]="characterName"
    (input)="OnValueChange()">
</div>

<div class="row">
    <label for="rank">Rank</label>
    <select name="rank" [(ngModel)]="formLevelRank" (change)="OnValueChange()">
        <option *ngFor="let rank of leveledRanks" [value]="rank">{{rank}}</option>
    </select>
</div>

<div class="row">
    <label for="species">Especie</label>
    <select name="species" [(ngModel)]="characterSpecie" (change)="OnValueChange()">
        <option *ngFor="let specie of species" [value]="specie">{{specie}}</option>
    </select>
</div>

<div class="row">
    <label for="primaryElement">Elemento</label>
    <select name="primaryElement" [(ngModel)]="primaryElement" (change)="OnValueChange()">
        <option *ngFor="let element of magicElements" [value]="element">{{element}}</option>
    </select>

    <div *ngIf="characterSpecie.toString() === hanaku">
        <label for="secondaryElement">Elemento 2</label>
        <select name="secondaryElement"
        [(ngModel)]="secondaryElement" (change)="OnValueChange()">
            <option *ngFor="let element of magicElements" [value]="element">{{element}}</option>
        </select>
    </div>
</div>

