<div class="divide">
    <h1>Pan'mar</h1>
    <h2>Continente</h2>
    <h3>Origens</h3>
    <h4>Especies</h4>
    <div>
        <dice-icon dice="d2"></dice-icon>
        <dice-icon dice="d4"></dice-icon>
        <dice-icon dice="d6"></dice-icon>
        <dice-icon dice="d8"></dice-icon>
        <dice-icon dice="d10"></dice-icon>
        <dice-icon dice="d12"></dice-icon>
        <dice-icon dice="d20"></dice-icon>
        <dice-icon dice="d100"></dice-icon>
    </div>
    <div class="darkest"><p>Magico</p></div>
    <div class="dark"><p>Protetor</p></div>
    <div class="commom"><p>Sagaz</p></div>
    <div class="light"><p>Eloquência</p></div>
    <div class="lightest"><p>Criador</p></div>
    <div><p>Combatente</p></div>
</div>
