<section class="section-center">
    <main>
            <h3 class="element">Sign In</h3>
            <form class="element">
                <input class="element" type="text" placeholder="Username" #userName required />
                <input class="element" type="password" placeholder="Password" #userPassword required />
                <input type="button" class="element" value="Log in"
                    (click)="authService.SignIn(userName.value, userPassword.value)" />
            </form>      
                <span class="element"><span class="orInner">Or</span></span>
                <button class="element" type="button" (click)="authService.GoogleAuth()">
                  Log in with Google
                </button>
                <span class="element" routerLink="/forgot-password">Forgot Password?</span>
            <span class="element">Don't have an account?<span routerLink="/register-user">
                    Sign Up</span></span>
        </main>
</section>