@import '../../../../temas/build/scss/variables';

.caixota {
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    padding: 1rem;
}

.cardo {
    min-width: 15rem;
    min-height: 15rem;
    margin: 2rem;
    background-color: lightgrey;
    border-radius: 1rem;
}