<h3>Duração</h3>
<form [formGroup]="DurationForm">
    <mat-form-field class="example-chip-list" formArrayName="durations">
      <mat-label>Duração</mat-label>
      <mat-chip-grid #chipGrid aria-label="Duração selection">
          <mat-chip-row *ngFor="let duration of duration; let empIndex=index" (removed)="remove(duration)" class="caixota" >
            <div [formGroupName]="empIndex">
            {{duration}}
            <input matInput type="number" class="number" min="1" formControlName="durationScale"  (click)="eventemit()">
            <button matChipRemove [attr.aria-label]="'remove ' + duration">
              <mat-icon>cancel</mat-icon>
            </button>
          </div>
          </mat-chip-row>
      </mat-chip-grid>
      <input placeholder="Novo Duração..." #durationInput 
        [matChipInputFor]="chipGrid" [matAutocomplete]="auto"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        />
      </mat-form-field>
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
          <mat-option  *ngFor="let duration of allDuration" [value]="duration">{{duration}}</mat-option>
      </mat-autocomplete>
  </form>